body{
    font-family: 'Source Sans Pro', sans-serif;
}

.thumbnail{
    margin-top: 20px;
}

.thumbnail img{
    width: 350px;
    height: 250px;
    overflow: hidden;
}

.page-header {
    border-bottom: medium solid #7d97ad;
}

.page-header img{
    max-height: 80px;
    float: left;
}