* {
    font-family: 'Lato', sans-serif;
}

.thumbnail img {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.feat-work {
    color: #7d97ad;
}

.page-header {
    border-bottom: medium solid #7d97ad;
    display: flex;
}

.page-header h1, h4 {
    font-weight: 300;
}

.page-header img {
    max-height: 100px;
    max-width: 100px;
}