* {
    font-family: 'Lato', sans-serif;
}

.page-header {
    text-transform: uppercase;
    border-bottom: medium solid #7d97ad;
    display: flex;
}

.page-header h1 {
    font-weight: 100;
}

.page-header h4 {
    font-weight: 300;
}

.page-header img {
    max-height: 100px;
}

#feat-work-txt {
    color: #7d97ad;
    font-weight: 300;
}

.project {
    text-align: center;
}

.project img {
    margin: auto;
}

.project h3 {
    text-transform: uppercase;
}